@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.project{
    width: 100%;
    &__row{
        padding: 0.2rem 0.5rem;
        font-family: "LouisGeorgeCafe", sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.4s ease;
        &:hover{
            background-color: rgba($bg-gray-3, 0.9);
        }
    }
    &__title{
        color: $text-secondary;
        font-weight: 400;
        font-size: 0.9rem;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &__btn-div{
        display: flex;
        align-items: center;
        gap:1rem;
    }
    &__link{
        color: $text-primary;
        font-size: 1.2rem;
    }
    &__delete{
        color: $text-danger;
        font-size: 1.2rem;
        cursor: pointer;
    }
    &__status{
       &--active{
        @include pill($text-success, rgba($bg-success, 0.2));
        margin-block: 1rem;
       }
       &--deferred{
        @include pill($text-warning, rgba($bg-warning, 0.2));
        margin-block: 1rem;
       }
       &--closed{
        @include pill($bg-gray-1, rgba($bg-gray-1, 0.2));
        margin-block: 1rem;
       }
    }
    &__cell{
        width: 16.7%;
        &:first-child{
            width: 22%;
         }
         &:nth-child(2){
             width: 10%;
         }
    }
}