@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.project{
    &__card{
        padding: 1rem 2rem;
        font-family: "LouisGeorgeCafe", sans-serif;
        text-align: center;
        border: 0.0625rem solid $bg-gray-2;
        line-height: 1.5rem;
        border-radius: 0.625rem;
        transition: 0.4s ease;
        &:hover{
            border: 0.0625rem solid $bg-gray-1;
        }
    }
    &__btn-div{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        gap:1rem;
    }
    &__link{
        text-decoration: none;
        align-items: center;
        @include menu-list($bg-color-1,rgba($color: $bg-color-2, $alpha: 0.2),none);
    }
    &__delete{
        align-items: center;
        @include menu-list(#fff, rgba($color: $text-danger, $alpha: 0.9),$text-danger);
        border: 0.0625rem solid $text-danger;
    }
}