@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.dashboard{
    position: relative;
    overflow: hidden;
    &__container{
        display: flex;
        border:1px solid $bg-gray-1;
        height: 90vh;
        overflow-y:scroll;
    }
    &__sidebar{
        height:100%;
        padding:5rem 1rem;
        text-align: center;
        font-family: "LouisGeorgeCafe", sans-serif;
        color: $bg-gray-1;
        justify-content: center;
        font-weight: 700;
        border-right: 1px solid $bg-gray-1;
        min-width: 17%;
        max-width: 19%;
    }
    &__info{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    &__modal{
        transition: 0.4s ease;
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 0%;
        background-color: rgba(0, 0, 0, 0.2);
    }
}