@use "../../style/partials/mixins" as *; 
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *; 

.projectSlider{
    background-color: #fff;
    padding: 1rem;
    &__icon-div{
        text-align: end;
        margin-bottom: 1rem;
    }
    &__icon{
        cursor: pointer;
    }
    &__intro{
        font-family: "CaviarDreams", sans-serif;
        font-size: 0.7rem;
        color: $bg-gray-1;
    }
    &__title{
        font-family: "CaviarDreams", sans-serif;
        font-size: 1.7rem;
        margin-top: 1rem;
    }
    &__desc-div{
        padding-inline-end: 1rem;
        margin-top: 1rem;
    }
    &__desc-title{
        font-family: "CaviarDreams", sans-serif;
        font-weight: 600;
        color: $bg-gray-1;
    }
    &__desc{
        margin-top: 0.5rem;
        font-family: "LouisGeorgeCafe", sans-serif;
        font-weight: 400;
        font-size: 0.9rem;
    }
    &__item-div{
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin-bottom: 1rem;
        font-family: "LouisGeorgeCafe", sans-serif;
        color: $bg-gray-1;
        font-weight: 600;
    }
    &__bottom{
        margin-top: 2rem;
    }
    &__notes-div{
        margin-top: 2rem;
    }
    &__notes-title{
        display: flex;
        align-items: center;
        font-family: "LouisGeorgeCafe", sans-serif;
        gap: 0.2rem;
        cursor: pointer;
    }
    &__deets{
        font-family: "LouisGeorgeCafe", sans-serif;
        font-weight: 600;
    }
    &__status{
        &--active{
            @include pill($text-success, $bg-success);
            font-family: "LouisGeorgeCafe", sans-serif;
        }
        &--deferred{
            @include pill($text-warning, $bg-warning);
            font-family: "LouisGeorgeCafe", sans-serif;
        }
        &--closed{
            @include pill($bg-gray-1, $bg-gray-3);
            font-family: "LouisGeorgeCafe", sans-serif;
        }
    }
}