@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.projectList{
    &__title-div{
        display: flex;
        justify-content: space-between;
        padding-inline: 1rem;
        background-color: $bg-gray-3;
        padding-block: 1rem;
    }
    &__title{
        color: $bg-gray-1;
        font-family: "LouisGeorgeCafe", sans-serif;
    }
}