@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.projectList{
    font-size: 0.9rem;
    position:relative;
    &__title-div{
        display: flex;
        justify-content: space-between;
        padding-inline: 1rem;
        background-color: $bg-gray-3;
        border-bottom: 1px solid $bg-gray-1;
        padding-block: 1rem;
        position: sticky;
        top: 0;
    }
    &__title{
        color: $bg-gray-1;
        font-family: "LouisGeorgeCafe", sans-serif;
    }
    &__cell{
        width: 16.7%;
        &:first-child{
           width: 22%;
        }
        &:nth-child(2){
            width: 10%;
        }
    }
    &__modal{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 10%;
        height: 78vh;
        width: 100%;
        top: 0;
        background-color: rgba($color: $bg-gray-3, $alpha: 0.5);
    }
}