@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *; 
@use "../../style/partials/variables" as *;

.dashboard-top{
    &__title-container{
    margin-top: 1rem;
    padding-inline: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   &__title-div{
    display: flex;
    align-items:center;
    gap: 1rem;
   }
   &__sprint-title{
    font-family: "LouisGeorgeCafe", sans-serif;
    font-size: 0.9rem;
   }
   &__issues-title{
    font-family: "LouisGeorgeCafe", sans-serif;
    color: $bg-gray-1;
   }
   &__btn{
    &--start{
        @include modal-btn($text-success, $bg-success, none); 
    }
    &--options{
        @include modal-btn($text-emphasis, $bg-gray-2, none); 
    }
    &--disabled{
        @include modal-btn($bg-gray-2, $bg-gray-3, none); 
        cursor: not-allowed;
    }
   }
   &__issues-div{
    padding-inline: 0.5rem;
   }
   &__no-issues-container{
    border: 0.0625rem dashed $bg-gray-1;
    border-radius: 0.3125rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
   }
   &__no-issues{
    display: flex;
    align-items: center;
    gap: 2rem;
   }
   &__img-div{
    height: 7rem;
    width: 10rem;
   }
   &__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   }
   &__msg{
    font-family: "LouisGeorgeCafe", sans-serif;
   }
   &__p{
    width: 65%;
    margin-top: 0.5rem;
   }
   &__estimate-div{
    padding-inline: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    font-family: "LouisGeorgeCafe", sans-serif;
    gap: 0.5rem;
   }
}