@use "./variables" as *;

@mixin dashboard-btn {
    display: flex;
    gap: .2rem;
    padding: .2rem .4rem;
    align-items: center;
    cursor: pointer;
    border-radius: .2rem;
}

@mixin menu-list($font-color, $hover-color, $bg-color) {
    display: flex;
    font-family: "LouisGeorgeCafe", sans-serif;
    font-weight: 700;
    gap: 0.5rem;
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    margin-inline: 0.5rem;
    color: $font-color;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 5px;
    background-color: $bg-color;

    &:hover {
        background-color: $hover-color;
    }
}

@mixin date-mixin($color) {
    padding: 0.5rem 1rem;
    border: 0.0625rem solid $color;
    border-radius: 0.3125rem;
    font-family: "LouisGeorgeCafe", sans-serif;

    &:focus {
        border: 1px solid $bg-color-1;
        outline: 1px solid $bg-color-1;
    }
}

@mixin pill($color, $bg-color) {
    display: inline-block;
    background-color: $bg-color;
    font-weight: 400;
    color: $color;
    vertical-align: middle;
    padding: 0.3rem 0.7rem;
    border-radius: 25px;
}