$bg-color-1:#413f94;
$bg-color-2:#6140ac;

$bg-success:#ACE1af;
$bg-warning:#f7c702;
// Gray colours
$bg-gray-1:#d4d2d2;
$bg-gray-2:#ededed;
$bg-gray-3:#f6f8fa;

// Text

$text-primary:#1f2429;
$text-emphasis:#000;
$text-secondary:#1E90FF;
$text-success:#158463;
$text-danger:#CE2029;
$text-warning:#aa8905;

// Issue
$issue-task: #4CAF50; 
$issue-epic: #9C27B0;
$issue-bug: #FF5722;

// High
$priority-high:#FF0000;
$priority-medium:#FFD700;
$priority-medium:#008000;
