@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;


.p-details{
    display: flex;
    position: relative;
    border: 1px solid $bg-gray-2;
    height: 100vh;
    &__slidebar{
        position: absolute;
        background-color: #fff;
        width: 35vw;
        height: 90vh;
        z-index: 30;
        transition: 0.4s ease;
        &--slideIn{
            @extend .p-details__slidebar;
            left: -100%;
            animation: slideIn 0.5s forwards;
        }
        &--slideOut{
            @extend .p-details__slidebar;
            left:0%;
            animation: slideOut 0.5s forwards;
        }
    }
    &__sidebar{
        height: 100%;
        border-inline-end: 1px solid $bg-gray-2;
        background-color: $bg-gray-3;
        padding:1rem 1.5rem;
        min-width:15%;
        max-width:17%;
    }
    &__name-div{
        position: relative;
        margin-bottom:2rem;
    }
    &__name{
        display: flex;
        align-items:center;
        gap: 0.5rem;
        font-family: "CaviarDreams", sans-serif;
        font-weight: 700;
        font-size: 0.9rem;
    } 
    &__key-div{
        display: flex;
        align-items: center;
        gap:0.5rem;
    }
    &__number{
      font-family: "LouisGeorgeCafe", sans-serif;
      font-weight: 600;
      color: $bg-gray-1;
      font-size: 0.8rem;
      margin-left: 1.35rem;
    }
    &__icon{
        cursor: pointer;
    }
    &__status{
        height: 0.4rem;
        width: 0.4rem;
        border-radius: 50%;
        cursor: pointer;
        &--active{
            @extend .p-details__status;
            background-color: $text-success;
        }
        &--deferred{
            @extend .p-details__status;
            background-color: $bg-warning;
        }
        &--closed{
            @extend .p-details__status;
            background-color: $bg-gray-1;
        }
    }
    &__more-info{
        position: absolute;
        padding: 0.2rem 0.5rem; 
        font-size: 0.7rem;
        top: -0.5rem;
        transition: 0.4s ease-in-out;
        font-family: "LouisGeorgeCafe", sans-serif;
        font-style: italic;
        background-color: $bg-gray-3;
    }
    &__cntr{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__item{
        @include menu-list($text-emphasis, rgba($color: $bg-gray-1, $alpha: 0.2), none);
        list-style: none;
        &--active{
            @include menu-list($text-success, none,rgba($color: $bg-success, $alpha: 0.2));
            list-style: none;
        }
        &--insight{
            @include menu-list($text-secondary, none,rgba($color: $text-secondary, $alpha: 0.2));
            list-style: none;
        }
        &--role{
            @include menu-list($text-emphasis, none, none);
            list-style: none;
            font-size: 0.8rem;
            margin-bottom: 1rem;
        }
    }
    &__half{
        max-height: 45vh;
        width: 84.9vw;
    }
    &__update{
        position: absolute;
        top: 1.5rem;
        right: 0rem;
        background-color: #fff;
        &-menu{
            font-size: 0.9rem;
            font-family: "LouisGeorgeCafe", sans-serif;
            list-style-type: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: 0.4s ease;
            &:hover{
                background-color:#d4d2d2;
            }
        }
    }
}

@keyframes slideIn {
    to {
        left: 0%;
    }
}

@keyframes slideOut {
    to {
        left: -100%;
    }
}